@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  cursor: url(assets/img/icon-medium.png) -32 -32, auto;
}

a:hover, button:hover {
  cursor: url(assets/img/icon-hover.png) -32 -32, auto;
}

*:active {
    cursor: url(assets/img/icon-click.png), auto;
    animation-name: shoot;
    animation-duration: 0.5s;
}

@keyframes shoot {
    from {
        cursor: url(assets/img/icon-click.png) 10 10, auto;
    }

    to {
        cursor: url(assets/img/icon-click2.png), auto;
    }
}

.delete-button {
  margin-left: calc(100% - 1.25rem);
}

.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
}

.heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}
  
@keyframes backdiv {
  50% {
    background: #ffe6f2;
    }
}
  
@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
    }
}

@layer components {
    h1 {
      @apply lg:text-5xl md:text-4xl text-xl font-bold;
    }

    h2 {
      @apply font-bold;
    }

    input, textarea {
      @apply p-1 rounded-md;
    }

    .invalid {
      @apply border-2 border-red-500;
    }

    .history-h2 {
      @apply text-lg lg:text-xl text-center;
    }

    .btn {
      @apply hover:text-custom-light-purple;
    }

    .dynamic-button {
      @apply lg:text-xl p-2 rounded-md shadow-md border-b-4  active:translate-y-1 active:border-b-0;
    }

    .line-break {
      @apply w-1/4 rounded-full shadow-md border-4 border-custom-purple;
    }

    .title-box {
      @apply py-4 px-10 mx-auto text-xl flex justify-center items-center bg-custom-light-purple rounded-full shadow-md border-b-4 border-custom-purple;
    }

    .history-box {
      @apply bg-custom-light-blue p-5 rounded-lg shadow-md border-b-4 border-custom-dark-blue;
    }

    .date-circle {
      @apply bg-custom-light-blue p-2 w-16 h-16 lg:w-28 lg:h-28 rounded-full grow-0 shrink-0 text-xs lg:text-xl flex items-center;
    }

    .expanded {
      @apply rounded-md;
    }
}